/* (너비 <= 567) 1.2개 & 점메뉴 왼쪽으로 붙음 */

.top_container {
  padding-block: 40px;
  margin-inline: 50px;
}

@media only screen and (min-width: 1340px) {
  .top_container {
    margin-left: auto;
    margin-right: auto;
    max-width: var(--contentWidth);
  }
}

.ResearchArea_header_wrapper {
  margin-bottom: 30px;
}

.ResearchArea_header_wrapper .ResearchArea_header {
  font-family: var(--tertiaryHeadlineFont), Arial, Helvetica, sans-serif;
  font-size: var(--title-2);
  font-weight: 700;
  line-height: 110%;
}

.flickity_group {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 10px;
  margin-right: 10px;
  width: 82.5%;
}

/* (1340 <= 너비) 4개 */
@media only screen and (min-width: 1340px) {
  .flickity_group {
    --item-width: 25%;
    --item-offset: ((20px / 2 * 4 - 20px / 2) / 4);
    margin-right: 20px/2;
    width: calc(var(--item-width) - var(--item-offset));
  }
}

/* (1024 <= 너비 <= 1339) 3개 */
@media only screen and (min-width: 1024px) and (max-width: 1339px) {
  .flickity_group {
    --item-width: 33.33333333%;
    --item-offset: ((20px / 2 * 3 - 20px / 2) / 3);
    margin-right: 20px/2;
    width: calc(var(--item-width) - var(--item-offset));
  }
}

/* (768 <= 너비 <= 1023) 2개 */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .flickity_group {
    --item-width: 50%;
    --item-offset: ((20px / 2 * 2 - 20px / 2) / 2);
    margin-right: 20px/2;
    width: calc(var(--item-width) - var(--item-offset));
  }
}

/* (568 <= 너비 <= 767) 2개 */
@media only screen and (min-width: 568px) and (max-width: 767px) {
  .flickity_group {
    --item-width: 50%;
    --item-offset: ((20px / 2 * 2 - 20px / 2) / 2);
    margin-right: 20px/2;
    width: calc(var(--item-width) - var(--item-offset));
  }
}

.ResearchAreaCard {
  background: #fafafa;
}

.ResearchAreaCard .ResearchAreaCard_link {
  align-items: center;
  color: #232f3e;
  display: flex;
  gap: 15px;
  padding: 15px 20px;
}

.ResearchAreaCard .ResearchAreaCard_media {
  flex-shrink: 0;
  height: 48px;
  width: 48px;
}

.ResearchAreaCard_media picture {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ResearchAreaCard .ResearchAreaCard_content {}

.ResearchAreaCard_content .ResearchAreaCard_title {
  font-family: var(--tertiaryHeadlineFont), Arial, Helvetica, sans-serif;
  line-height: 110%;
  font-weight: 700;
  font-size: var(--title-7);
}